.allpage {
  font-family: "Roboto", sans-serif;
  width: 50%;
  text-align: center;
  padding: 30px;
}
.container {
  padding: 40px;
  color: #8c8c8c;
  border-radius: 8px;
  border: 1px solid;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.middle {
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid;
  background-color: #62b3e0;
  border-color: #62b3e0;
}
button {
  width: 268px;
  font-size: 18px;
  padding: 4px;
  border-radius: 6px;
}
#searchlocation {
  background-color: #62b3e0;
  border-color: #62b3e0;
}
#mylocation {
  position: relative;
  bottom: 3px;
  background-color: #fff;
  box-shadow: none;
  border-color: #62b3e0;
  color: #62b3e0;
}

h1 {
  color: #555353;
  text-align: center;
  font-size: 28px;
}

#city-name {
  text-align: center;
  font-size: 28px;
}

#temperature{
  font-size: 50px;
   position: relative;
   top: 12px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

#github {
  color: #62b3e0;
  text-decoration: none;
  font-weight: 600;
}
